src/test/resources/cfg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Cfg" type="CfgType"/>
    <xs:complexType name="blockersType">
        <xs:sequence>
            <xs:element name="prefix" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:short" name="before" minOccurs="1"/>
            <xs:element type="xs:byte" name="after" minOccurs="1"/>
            <xs:element type="blockersType" name="blockers" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CfgType">
        <xs:sequence>
            <xs:element type="blockersType" name="blockers"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>